* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }
  html body {
    background-color: #525252;
    color: #fff;
    background: url(../img/pexels-coding.jpg) no-repeat center center fixed;
    background-size: cover; }
    html body::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(82, 82, 82, 0.8); }

.header {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 2;
  background: rgba(232, 232, 232, 0.8); }
  .header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center; }
    .header ul li {
      margin: 0 2rem;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      font-size: 1.5rem; }
      .header ul li a {
        text-decoration: none;
        color: #525252; }
        .header ul li a:hover {
          color: #5588a3;
          border-bottom: 10px #5588a3 solid;
          transition: all 0.3s ease-out; }

.home {
  margin-top: 10vh;
  margin-bottom: 3rem;
  overflow: hidden; }
  .home .portrait {
    display: flex;
    justify-content: center; }
    .home .portrait img {
      width: 250px;
      height: 250px;
      border: 3px #5588a3 solid;
      border-radius: 50%; }
  .home h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    margin-top: 1.5rem; }
  .home .icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
    .home .icons a {
      margin: 0 2rem;
      text-decoration: none;
      color: #fff; }
      .home .icons a:hover {
        color: #5588a3;
        transition: all 0.3s ease-out; }

footer {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
