* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }
  html body {
    background-color: #525252;
    color: #fff;
    background: url(../img/pexels-coding.jpg) no-repeat center center fixed;
    background-size: cover; }
    html body::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(82, 82, 82, 0.8); }

.header {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 2; }
  .header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center; }
    .header ul li {
      margin: 0 2rem;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      font-size: 1.5rem; }
      .header ul li a {
        text-decoration: none;
        color: #fff; }
        .header ul li a:hover {
          color: #4592af;
          border-bottom: 3px #4592af solid;
          transition: all 0.3s ease-in-out; }

.home {
  margin-top: 15vh;
  margin-bottom: 3rem;
  overflow: hidden; }
  .home .portrait {
    display: flex;
    justify-content: center; }
    .home .portrait img {
      width: 250px;
      height: 250px;
      border: 3px #e8e8e8 solid;
      border-radius: 50%; }
      .home .portrait img:hover {
        border: 3px #4592af solid;
        transition: all 0.3s ease-in-out; }
  .home h1, .home h4 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    margin-top: 1.5rem; }
    .home h1 a, .home h4 a {
      color: #fff; }
      .home h1 a:hover, .home h4 a:hover {
        color: #4592af;
        transition: all 0.3s ease-in-out; }
  .home .about {
    padding: 1rem 16rem;
    margin-bottom: 1rem;
    background: rgba(82, 82, 82, 0.8); }
    .home .about h3 {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      text-align: justify; }
  .home .skills {
    padding: 1rem 16rem;
    background: rgba(82, 82, 82, 0.8);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
    .home .skills table {
      width: 100%; }
      .home .skills table th {
        padding-bottom: 3px;
        border-bottom: 1px #e8e8e8 solid; }
      .home .skills table th, .home .skills table td {
        width: 50%;
        text-align: center; }
  .home .contact {
    padding: 0.5rem 0;
    background: rgba(82, 82, 82, 0.8); }
  .home .icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
    .home .icons a {
      margin: 0 2rem;
      text-decoration: none;
      color: #fff; }
      .home .icons a:hover {
        color: #4592af;
        transition: all 0.3s ease-in-out; }

footer {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
